@model L5Mvc.Models.ActorsViewModel
@{
    ViewData["Title"] = "Actors";
}

<div class="container">
    <div class="row my-4">
        <h1>Actors</h1>
    </div>
    <div class="row">
        <ul class="list-group">
            @foreach (var actor in Model.Actors)
            {
                <li class="list-group-item">@actor.Name</li>
            }
            <li class="list-group-item">
                <form asp-action="Index" method="post">
                    <div class="input-group">
                        <input asp-for="Name" placeholder="Name" class="form-control" />
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>
