@page
@model L1.Pages.ProjectModel
@{
    ViewData["Title"] = "Project info";
}

<div>
    Katalogi projektu:
    <ul>
        <li>Katalog główny zawiera plik z ustawieniami aplikacji appsettings.json oraz główny plik projektu Program.cs</li>
        <li>Properties - zawiera plik launchSettings.json odpowiedzialny za ustawienia projektu</li>
        <li>Pages - zawiera pliki zawierające logikę i widoki poszczególnych stron</li>
        <li>wwwroot - zawiera zasoby, takie jak pliki css, js, czy biblioteki jak jquery</li>
    </ul>
</div>
